<section>
  <!-- <md-subheader></md-subheader> -->
  <div class='light-grey' layout="row" layout-padding layout-wrap layout-fill ng-cloak>
  <md-whiteframe class="md-whiteframe-1dp white" flex="96" flex-offset='2'>
    <h1 class="lr-padding"><a href='#/post/{{title}}' class='title'>{{title}}</a> <div class='title-date'>{{date | date}}</div></h1>
    <p ng-if='body' ng-bind-html='body' class='lr-padding'>
    </p>
    <p class='lr-padding' ng-if='md' >
      <marked src="'/md/' + id + '.md'"></marked>
    </p>
    <tags></tags>
  </md-whiteframe>
</div>
</section>
