<section>
  <md-subheader class="md-primary"><a href='#/post/{{title}}' class='title'>{{title}}</a> <div class='date'>{{date | date}}</div></md-subheader>
  <div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
  <md-whiteframe class="md-whiteframe-1dp" flex="96" flex-offset='2'>
    <p ng-if='body' ng-bind-html='body' class='lr-padding'>
    </p>
    <p class='lr-padding' ng-if='md' >
      <marked src="'/md/' + id + '.md'"></marked>
    </p>
    <tags></tags>
  </md-whiteframe>
</div>
</section>
