<div class='home'>
  <md-content ng-if='tag' style='background: #eee; padding: .5em;'>
  	<a href='#/'>Home</a> / tags / {{tag}}
  </md-content>
  <md-content ng-style="{'height': height + 'vh'}">
    <div ng-repeat="post in posts | orderBy:'-id'">
      <blog-post-beta title='{{post.title}}' body='{{post.body}}' date='{{post.date}}' md='{{post.md}}' id='{{post.id}}' tags='post.tags'></blog-post-beta>
    </div>
    <div>
      <blog-post-beta body="End of line."></blog-post-beta>
    </div>
  </md-content>
</div>
