<div class="navigation" ng-controller="NavController as navCtrl">
<md-fab-speed-dial md-direction='left' class="md-fling">
  <md-fab-trigger>
    <md-button aria-label="menu" class="md-fab">
      <md-icon>
        <img gravatar-src="'tim.levett@gmail.com'" gravatar-size="100" class='gravatar'>
      </md-icon>
      <md-tooltip md-direction="top">Menu</md-tooltip>
    </md-button>
  </md-fab-trigger>

    <md-fab-actions class="md-toolbar-tools">
      <div ng-repeat="navItem in nav">
        <a ng-href='{{navItem.url}}' target='{{navItem.target}}'>
          <md-button aria-label="{{navItem.name}}"  class="md-fab md-raised md-mini md-primary">
            <md-tooltip md-direction="top">{{navItem.name}}</md-tooltip>
            <i class='fa {{navItem.faIcon}} fa-2x nav-icons'></i>
          </md-button>
        </a>
      </div>
      <div>
        <md-button aria-label="Switch Theme"  class="md-fab md-raised md-mini md-primary" ng-click='switchTheme()'>
          <md-tooltip md-direction="top">Switch Theme</md-tooltip>
          <i class='fa fa-circle fa-2x nav-icons'></i>
        </md-button>
      </div>
    </md-fab-actions>
</md-fab-speed-dial>
</div>