<div>
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-toolbar class='md-accent'>
      <h3 class='header-sidebar'>The Tim Blog</h3>
      <img gravatar-src="'tim.levett@gmail.com'" gravatar-size="50" class='gravatar-sidebar'>
    </md-toolbar>
    <md-list>
      <md-list-item  class='full-width' ng-repeat="item in nav">
       <a class='full-width' ng-href='{{item.url}}' target='{{item.target}}' ng-click="toggleSidebar()">
         <md-button class='md-accent md-raised item-sidebar'>
           <h3><i class='fa {{item.faIcon}} fa-fw'></i>{{item.name}}</h3>
         </md-button>
       </a>
      </md-list-item>
      <md-list-item class='bottom-left-abs'>
        <md-button ng-click="toggleSidebar()" class='md-raised md-accent'>
          Close Sidebar
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleSidebar()" aria-label="open menu">
        <i class='fa fa-bars'></i>
      </md-button>
      <a href='#/'><img class='crest' src='favicon.ico'></img></a>&nbsp;The Tim Blog
    </div>
  </md-toolbar>
</div>
